---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Acerca de',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Acerca de Bisstox"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Impulsando la sostenibilidad y el éxito <br />
      <span class="text-accent dark:text-white highlight"> a largo plazo</span>
    </Fragment>

    <Fragment slot="subtitle">
      Bisstox impulsa la transformación digital para pymes, promoviendo la igualdad de oportunidades y el éxito sostenible, trabajando en colaboración con valores arraigados en innovación y ética. 
      <p>      
        <a class="btn-secondary ml-2 py-2.5 px-5.5 md:px-6 font-semibold shadow-none text-sm w-auto" href="/manifiesto">
          Lee nuestro manifiesto.
        </a>
    </p>
    </Fragment>

  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Estadísticas sobre Bisstox"
    stats={[
      { title: 'Clientes', amount: '27' },
      { title: 'Proyectos', amount: '248' },
      { title: 'Productos', amount: '3' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Los Rasgos que Nos Definen"
    subtitle="Explora las distintivas características que definen a Bisstox y dan forma a nuestra visión de la transformación empresarial."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Personalización Sobresaliente',
        description:
          'Creamos soluciones personalizadas que se ajustan a las necesidades únicas de cada cliente.',
        icon: 'tabler:template',
      },
      {
        title: 'Innovación Tecnológica Vanguardista',
        description:
          'Implementamos tecnologías de vanguardia para impulsar la transformación digital.',
        icon: 'tabler:template',
      },
      {
        title: 'Énfasis en la Sostenibilidad',
        description:
          'Priorizamos prácticas sostenibles en todas nuestras soluciones y operaciones.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Consultoría Estratégica Integral',
        description:
          'Ofrecemos asesoramiento estratégico que va más allá de la tecnología, mejorando la eficiencia global.',
        icon: 'tabler:template',
      },
      {
        title: 'Transparencia y Ética',
        description:
          'Operamos con integridad y honestidad, protegiendo la seguridad y privacidad de nuestros clientes.',
        icon: 'tabler:template',
      },
      {
        title: 'Capacitación Personalizada',
        description:
          'Proporcionamos herramientas de capacitación adaptadas a las necesidades de cada empresa.',
        icon: 'tabler:template',
      },
      {
        title: 'Eficiencia Operativa',
        description:
          'Mejoramos la eficiencia de las empresas, optimizando procesos y reduciendo costos.',
        icon: 'tabler:template',
      },
      {
        title: 'Experiencia Multisectorial',
        description:
          'Trabajamos con empresas de diversos sectores, aprovechando nuestra experiencia en industrias variadas.',
        icon: 'tabler:template',
      },
      {
        title: 'Resultados Tangibles',
        description:
          'Generamos resultados medibles y tangibles que impulsan el éxito a largo plazo para nuestros clientes.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Nuestros valores"
    subtitle="Los valores de Bisstox son el cimiento de nuestra misión. Guiados por principios sólidos, transformamos empresas con integridad, innovación y sostenibilidad."
    items={[
      {
        title: 'Competitividad',
        description:
          'Buscamos mejorar la competitividad de las empresas a través de soluciones personalizadas y tecnología innovadora.',
      },
      {
        title: 'Integridad',
        description:
          'Operamos con honestidad y ética, protegiendo la privacidad y seguridad de nuestros clientes.',
      },
      {
        title: 'Sostenibilidad',
        description:
          'Promovemos prácticas sostenibles, reduciendo la huella ecológica y social en nuestras soluciones.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Logros"
    subtitle="Nuestros logros son el reflejo de nuestro compromiso con la excelencia. Descubre cómo Bisstox ha transformado empresas y marcado la diferencia en el mundo empresarial."
    isReversed={true}
    callToAction={{
      text: 'Contáctanos',
      href: '/contacto',
    }}
    items={[
      {
        title: 'Expansión Global',
        description: 'Hemos ayudado a empresas a expandirse con éxito a nuevos mercados internacionales, ampliando su alcance global y aumentando sus ingresos.',
        icon: 'tabler:globe',
      },
      {
        title: 'Innovación Reconocida',
        description:
          'Nuestro enfoque innovador en la transformación digital ha sido ampliamente reconocido por parte de nuestros clientes, gracias a nuestras soluciones disruptivas y creativas.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Clientes Satisfechos',
        description:
          ' La satisfacción del cliente es nuestra mayor recompensa. Hemos logrado altos niveles de satisfacción al proporcionar soluciones personalizadas y resultados excepcionales.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout> -->
