---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Ayudándote a ser mejor en lo que haces',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Suscríbete',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Contacto',
          href: '#contacto',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Productividad para PYMEs"
    actions={[
      { variant: 'primary', target: '_self', text: 'Conócenos', href: '/acerca' },
      { text: 'Contáctanos', href: '/contacto' },
    ]}
    image={{
      src: 'https://bisstox.com/images/banner_hu000be589350a32979bebc854341f7bd9_425969_1110x0_resize_q90_h2_box_3.webp',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
     Tecnología que te ayuda a<span class="text-accent dark:text-white highlight"> ser mejor</span><br /> en lo que haces<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Liberamos el tiempo de los dueños de procesos para que puedan <span class="font-semibold"></span>enfocarse en lo que hacen mejor, gracias a nuestras innovadoras soluciones tecnológicas.</span
      >
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="¿Por qué elegir a Bisstox?"
    subtitle="Si necesitas razones para trabajar con nosotros, aquí te dejamos algunas."
    columns={2}
    items={[
      {
        title: 'Innovación Tecnológica de Vanguardia',
        description:
          'Bisstox está a la vanguardia de la innovación tecnológica, ofreciendo soluciones a medida que incorporan las últimas tecnologías para transformar procesos de negocio y capacitación interna.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Énfasis en la Sostenibilidad',
        description: `Bisstox promueve la sostenibilidad en todas sus soluciones, garantizando que la transformación digital se realice de manera de manera responsable, lo que redunda en un beneficio a largo plazo.`,
        icon: 'tabler:leaf',
      },
      {
        title: 'Soluciones a medida',
        description:
          'Nos destacamos por proporcionar soluciones a medida que se adaptan a las necesidades de cada cliente, asegurando que cada empresa obtenga exactamente lo que necesita para tener éxito.',
        icon: 'tabler:writing',
      },
      {
        title: 'Consultoría Estratégica Integral',
        description: `Ofrecemos servicios de consultoría en transformación digital y mejora continua que van más allá de la implementación tecnológica, ayudando a las empresas a desarrollar estrategias efectivas para aumentar su eficiencia y competitividad.`,
        icon: 'tabler:podium',
      },
      {
        title: 'Enfoque Ético y Transparente',
        description: `Nuestra marca se rige por valores de integridad y transparencia, garantizando que todas nuestras operaciones y relaciones comerciales sean éticas y honestas.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Capacitación Personalizada',
        description: `Bisstox ofrece herramientas de capacitación personalizadas y adaptadas a las necesidades específicas de cada empresa, lo que mejora la formación interna y el desarrollo de habilidades.`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Claves del Éxito"
    subtitle="Descubre cómo Bisstox ha transformado empresas y vidas a través de soluciones innovadoras y sostenibles. Estos son nuestros casos de éxito."
    isReversed
    items={[
      {
        title: 'Descripción:',
        description:
          'Una empresa de manufactura líder en su sector se asoció con Bisstox para modernizar y optimizar sus procesos de producción. Implementamos soluciones de automatización y monitorización en tiempo real que permitieron una producción más eficiente y la reducción de costos operativos.',
      },
      {
        title: 'Beneficios:',
        description: `Aumento del rendimiento de la producción en un 30%. <br />Reducción del 20% en costos operativos.<br />Mayor calidad y consistencia en los productos manufacturados.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Optimización de la Cadena de Producción: <br /><span class="text-2xl">Impulsando la Eficiencia en una Empresa de Manufactura</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Descripción:',
        description: `Una prestigiosa entidad educativa buscaba adaptarse a las demandas de la educación en línea. Bisstox diseñó una plataforma de e-learning a medida, lo que resultó en una experiencia de aprendizaje interactiva y efectiva para los estudiantes, y una gestión más eficiente para la institución.`,
      },
      {
        title: 'Beneficios:',
        description: `Aumento del compromiso de los estudiantes en un 40%.<br />Ahorro de tiempo y recursos en la administración académica.<br />Acceso a métricas de desempeño estudiantil en tiempo real.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Transformación Digital en Educación: <br /><span class="text-2xl">Mejorando la Experiencia de Aprendizaje en un Instituto Educativo</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Descripción:',
        description: `Una cadena de tiendas minoristas buscaba expandir su presencia en línea. Plyson implementó una estrategia de comercio electrónico y mejoró la gestión de inventario a través de la digitalización. Esto llevó a un aumento significativo en las ventas en línea y una mejor eficiencia en la gestión de la cadena de suministro.`,
      },
      {
        title: 'Beneficios:',
        description: `Incremento del 60% en las ventas en línea.<br />Mayor visibilidad y control sobre el inventario.<br />Experiencia de compra más conveniente para los clientes.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Expansión Digital de una Cadena de Tiendas: <br /><span class="text-2xl">Elevando la Experiencia de Compra en una Franquicia de Retail</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'Descripción:',
        description: `Un bufete de abogados líder en su sector se asoció con Bisstox  para mejorar la gestión de casos y la colaboración interna. Implementamos una plataforma de gestión de casos personalizada y herramientas de colaboración en línea. Esto resultó en una mayor eficiencia operativa y una mejor experiencia para los clientes.`,
      },
      {
        title: 'Beneficios:',
        description: `Reducción del 30% en el tiempo dedicado a la gestión de casos.<br />Mayor colaboración y comunicación entre los miembros del despacho.<br />Mayor satisfacción de los clientes debido a una representación legal más eficiente.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Transformación de Prácticas Legales: <br /><span class="text-2xl">Maximizando la Eficiencia en un Despacho de Abogados</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    items={[
      {
        title: '¿Qué tipos de empresas pueden beneficiarse de los servicios de Bisstox?',
        description:
          'Bisstox trabaja con empresas de diversos sectores y tamaños, centrándose en negocios pequeños y medianos que buscan adaptarse y prosperar en la era digital.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Cuál es el enfoque de Bisstox en cuanto a la sostenibilidad?',
        description: `Bisstox se compromete a promover la sostenibilidad en todas sus soluciones, minimizando el impacto ambiental y social de la transformación digital y fomentando prácticas responsables.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Qué diferencia a Bisstox de otras empresas de consultoría en transformación digital?',
        description:
          'Bisstox se destaca por ofrecer soluciones a medida, consultoría estratégica integral y un enfoque ético y transparente, lo que garantiza resultados excepcionales y relaciones de confianza duraderas.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Cómo puedo comenzar a trabajar con Bisstox en la transformación digital de mi empresa?',
        description: `Para iniciar una colaboración con Bisstox, simplemente contáctanos a través de nuestro sitio web o por correo electrónico. Nuestro equipo estará encantado de discutir tus necesidades y comenzar el proceso de transformación digital.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->
<a name="contacto"></a>
  <Steps2
    title="Contáctanos"
    subtitle="¿Tienes preguntas que hacernos? Siéntete libre de contactarnos. ¡Estamos aquí para ayudar!"
    callToAction={{
      text: 'Enviar mensaje',
      href: '/contacto',
    }}
    items={[
      {
        title: 'Escríbenos',
        description: 'ventas@bisstox.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Llámanos',
        description: '+593 (9) 99-563-2739',
        icon: 'tabler:headset',
      },
      {
        title: 'Síguenos',
        description: '@bisstox',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Mantente al tanto de las novedades en el blog"
    information={`Explora nuestros artículos, guías y tutoriales de tecnología para negocios innovadores.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
